@model CurrentWeatherViewModel

@{
    ViewData["Title"] = "Daily Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
      
    <h1 style="font-family: Calibri; text-align: center; font-weight: bold; ">8 Day Forecast</h1>

    <div class="weather-forecast">
        @foreach (var day in @Model.Daily)
        {
        <div class="weather-forecast-item">
            <div class="day">Tue, Apr 10</div>
            <br>
            <span>
                @day.Weather[0].Description
            </span>
            <img src="http://openweathermap.org/img/wn/@{@day.Weather[0].Icon}@@2x.png" alt="" />
            <div class="temp">Day - @day.Temp.Day&#176; F</div>
            <div class="temp">Night - @day.Temp.Night&#176; F</div>
        </div>
        }
    </div>
</div>